name: learn-github-actions

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  deploy-package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Firefox Package
        run: npm run build:firefox

      - name: Build Chrome Package
        run: npm run build:chrome

      - name: Debug output
        run: ls -R .

      - name: Upload Firefox artifact
        uses: actions/upload-artifact@v5
        with:
          name: firefox-extension
          path: .output/firefox-mv2/
          if-no-files-found: warn

      - name: Upload Chrome artifact
        uses: actions/upload-artifact@v5
        with:
          name: chrome-extension
          path: .output/chrome-mv3/
          if-no-files-found: warn
